dcdt-core/src/main/resources/META-INF/spring/schema/spring-dcdt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://direct-test.com/spring/schema/spring-dcdt"
    xmlns="http://direct-test.com/spring/schema/spring-dcdt"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:tool="http://www.springframework.org/schema/tool"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="http://www.springframework.org/schema/tool/spring-tool.xsd"/>
    <xsd:import namespace="http://www.springframework.org/schema/util" schemaLocation="http://www.springframework.org/schema/util/spring-util.xsd"/>
    
    <xsd:element name="properties">
        <xsd:annotation>
            <xsd:documentation source="java:gov.hhs.onc.dcdt.beans.factory.impl.ToolPropertiesFactoryBean"/>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="java.util.Properties"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:propsType">
                    <xsd:sequence>
                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="locations" type="beans:listOrSetType"/>
                        </xsd:choice>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="xsd:string"/>
                    <xsd:attribute name="ignoreResourceNotFound" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="local-override" type="xsd:boolean" default="true"/>
                    <xsd:attribute name="location" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <tool:annotation>
                                    <tool:expected-type type="org.springframework.core.io.Resource"/>
                                </tool:annotation>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="namePattern" type="xsd:string"/>
                    <xsd:attribute name="scope" type="xsd:string"/>
                    <xsd:attribute name="singleton" type="xsd:boolean" default="false"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>