dcdt-core/src/main/resources/META-INF/logback/logback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Based on:
* Project: https://github.com/enricopulatzo/logback-XSD
* File: https://github.com/enricopulatzo/logback-XSD/raw/master/src/main/xsd/logback.xsd
-->
<xsd:schema
    elementFormDefault="qualified"
    targetNamespace="ch.qos.logback"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="configuration" type="Configuration"/>
    <xsd:element name="included" type="Configuration"/>
    
    <xsd:attributeGroup name="attrGroupClass">
        <xsd:attribute name="class" type="xsd:token"/>
    </xsd:attributeGroup>
    <xsd:attributeGroup name="attrGroupClassReq">
        <xsd:attribute name="class" type="xsd:token" use="required"/>
    </xsd:attributeGroup>
    
    <xsd:attributeGroup name="attrGroupName">
        <xsd:attribute name="name" type="xsd:token"/>
    </xsd:attributeGroup>
    <xsd:attributeGroup name="attrGroupNameReq">
        <xsd:attribute name="name" type="xsd:token" use="required"/>
    </xsd:attributeGroup>
    
    <xsd:simpleType name="LoggerLevels">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="off"/>
            <xsd:enumeration value="OFF"/>
            <xsd:enumeration value="all"/>
            <xsd:enumeration value="ALL"/>
            <xsd:enumeration value="inherited"/>
            <xsd:enumeration value="INHERITED"/>
            <xsd:enumeration value="null"/>
            <xsd:enumeration value="NULL"/>
            <xsd:enumeration value="error"/>
            <xsd:enumeration value="ERROR"/>
            <xsd:enumeration value="warn"/>
            <xsd:enumeration value="WARN"/>
            <xsd:enumeration value="info"/>
            <xsd:enumeration value="INFO"/>
            <xsd:enumeration value="debug"/>
            <xsd:enumeration value="DEBUG"/>
            <xsd:enumeration value="trace"/>
            <xsd:enumeration value="TRACE"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Configuration">
        <xsd:sequence>
            <xsd:element name="statusListener" minOccurs="0" maxOccurs="unbounded" type="StatusListener"/>
            <xsd:element name="contextListener" minOccurs="0" maxOccurs="unbounded" type="ContextListener"/>
            <xsd:element name="include" minOccurs="0" maxOccurs="unbounded" type="Include"/>
            <xsd:element name="contextName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
            <xsd:element name="define" minOccurs="0" maxOccurs="unbounded" type="Define"/>
            <xsd:element name="timestamp" minOccurs="0" maxOccurs="1" type="Timestamp"/>
            <xsd:element name="if" minOccurs="0" maxOccurs="unbounded" type="If"/>
            <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="Property"/>
            <xsd:element name="appender" minOccurs="0" maxOccurs="unbounded" type="Appender"/>
            <xsd:element name="logger" minOccurs="0" maxOccurs="unbounded" type="Logger"/>
            <xsd:element name="root" minOccurs="0" maxOccurs="1" type="Root"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="debug" type="xsd:boolean" use="optional"/>
        <xsd:attribute name="scan" type="xsd:token" use="optional"/>
        <xsd:attribute name="scanPeriod" type="xsd:token" use="optional"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="StatusListener">
        <xsd:attributeGroup ref="attrGroupClassReq"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="ContextListener">
        <xsd:sequence>
            <xsd:element name="resetJUL" type="xsd:boolean"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClassReq"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Include">
        <xsd:attribute name="file" use="optional" type="xsd:token"/>
        <xsd:attribute name="resource" use="optional" type="xsd:token"/>
        <xsd:attribute name="url" use="optional" type="xsd:token"/>
        <xsd:attribute name="optional" use="optional" type="xsd:boolean"/>
    </xsd:complexType>

    <xsd:complexType name="Define">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupNameReq"/>
        <xsd:attributeGroup ref="attrGroupClassReq"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Timestamp">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="key" type="xsd:string" use="optional"/>
        <xsd:attribute name="datePattern" type="xsd:string" use="optional"/>
        <xsd:attribute name="timeReference" type="xsd:string" use="optional"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="RollingPolicy">
        <xsd:sequence>
            <xsd:element name="fileNamePattern" type="xsd:token" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="maxHistory" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="minIndex" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="maxIndex" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="timeBasedFileNamingAndTriggeringPolicy" type="TriggeringPolicy" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="cleanHistoryOnStart" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClass"/>
    </xsd:complexType>
    <xsd:complexType name="TriggeringPolicy">
        <xsd:sequence>
            <xsd:element name="maxFileSize" type="xsd:token" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClass"/>
    </xsd:complexType>

    <xsd:complexType name="If">
        <xsd:sequence>
            <xsd:element type="Configuration" name="then"/>
            <xsd:element type="Configuration" name="else" minOccurs="0"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="condition" type="xsd:token"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:simpleType name="PropertyScope">
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="local"/>
            <xsd:enumeration value="context"/>
            <xsd:enumeration value="system"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="Property">
        <xsd:sequence>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupName"/>
        <xsd:attribute name="value" type="xsd:token" use="optional"/>
        <xsd:attribute name="file" type="xsd:token" use="optional"/>
        <xsd:attribute name="resource" type="xsd:token" use="optional"/>
        <xsd:attribute name="scope" type="PropertyScope" use="optional" default="local"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Appender">
        <xsd:sequence>
            <xsd:element name="file" type="xsd:token" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="encoder" type="Encoder" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="filter" type="Filter" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="append" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="prudent" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="layout" type="Layout" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="rollingPolicy" type="RollingPolicy" minOccurs="0" maxOccurs="1"/>
            <xsd:any processContents="skip" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupNameReq"/>
        <xsd:attributeGroup ref="attrGroupClassReq"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Filter">
        <xsd:sequence>
            <xsd:element name="level" type="xsd:token" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:any minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClass"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Pattern">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:token">
                <xsd:attributeGroup ref="attrGroupClass"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="Layout">
        <xsd:sequence>
            <xsd:element name="pattern" type="Pattern" minOccurs="0" maxOccurs="1"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClass"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Logger">
        <xsd:sequence>
            <xsd:element name="appender-ref" maxOccurs="unbounded" minOccurs="0" type="AppenderRef"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:token" use="required"/>
        <xsd:attributeGroup ref="attrGroupClass"/>
        <xsd:attribute name="level" type="LoggerLevels" use="optional"/>
        <xsd:attribute name="additivity" type="xsd:boolean" use="optional"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="Encoder">
        <xsd:sequence>
            <xsd:element name="pattern" type="Pattern"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="attrGroupClass"/>
    </xsd:complexType>

    <xsd:complexType name="Root">
        <xsd:sequence>
            <xsd:element name="appender-ref" maxOccurs="unbounded" minOccurs="0" type="AppenderRef"/>
        </xsd:sequence>
        <xsd:attribute name="level" use="required" type="LoggerLevels"/>
        <xsd:anyAttribute/>
    </xsd:complexType>

    <xsd:complexType name="AppenderRef">
        <xsd:attribute name="ref" type="xsd:token"/>
    </xsd:complexType>
</xsd:schema>