core/src/main/resources/META-INF/gov/hhs/onc/dcdt/schema/data/entries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://schema.direct-test.com/dcdt/data/entries"
	xmlns="http://schema.direct-test.com/dcdt/data/entries"
	xmlns:config="http://schema.direct-test.com/dcdt/config"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:import namespace="http://schema.direct-test.com/dcdt/config" schemaLocation="http://schema.direct-test.com/dcdt/config"/>
	
	<xs:simpleType name="entryDestinationTypeName">
		<xs:annotation>
			<xs:documentation>
				An entry destination type name.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="^(none|anchor|dns|ldap)$"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="entryDestinationTypeNameAttr">
		<xs:annotation>
			<xs:documentation>
				An attribute value containing an entry destination type name or a variable.
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="entryDestinationTypeName config:attr"/>
	</xs:simpleType>
	
	<xs:complexType name="entryDestination">
		<xs:annotation>
			<xs:documentation>
				An entry destination.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.entry.EntryDestination"/>
				<xs:attribute name="typeName" type="entryDestinationTypeNameAttr"/>
				<xs:attribute name="ldapServiceName" type="config:attr" use="optional"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- TODO: implement attribute types -->
	<xs:complexType name="entryDn">
		<xs:annotation>
			<xs:documentation>
				An entry distinguished name.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.entry.EntryDn"/>
				<xs:attribute name="commonName" type="config:attr"/>
				<xs:attribute name="country" type="config:attr"/>
				<xs:attribute name="locality" type="config:attr"/>
				<xs:attribute name="mail" type="config:attr"/>
				<xs:attribute name="organization" type="config:attr"/>
				<xs:attribute name="organizationUnit" type="config:attr"/>
				<xs:attribute name="state" type="config:attr"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="entry">
		<xs:annotation>
			<xs:documentation>
				An entry.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:sequence>
					<xs:element name="destination" type="entryDestination" minOccurs="1" maxOccurs="1"/>
					<xs:element name="dn" type="entryDn" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.entry.Entry"/>
				<xs:attribute name="name" type="config:attr"/>
				<xs:attribute name="path" type="xs:token"/>
				<xs:attribute name="canSign" type="config:booleanAttr"/>
				<xs:attribute name="keyBits" type="xs:positiveInteger"/>
				<xs:attribute name="validDays" type="xs:nonNegativeInteger"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="entries">
		<xs:annotation>
			<xs:documentation>
				Entries parent.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="entry" type="entry"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="entries" type="entries">
		<xs:annotation>
			<xs:documentation>
				Entries parent element.
			</xs:documentation>
		</xs:annotation>
		<xs:unique name="entryId">
			<xs:selector xpath="entries/entry"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	
</xs:schema>