core/src/main/resources/META-INF/gov/hhs/onc/dcdt/schema/data/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://schema.direct-test.com/dcdt/data/settings"
	xmlns="http://schema.direct-test.com/dcdt/data/settings"
	xmlns:config="http://schema.direct-test.com/dcdt/config"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:import namespace="http://schema.direct-test.com/dcdt/config" schemaLocation="http://schema.direct-test.com/dcdt/config"/>
	
	<xs:complexType name="setting">
		<xs:annotation>
			<xs:documentation>
				A setting.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.Setting"/>
				<xs:attribute name="name" type="config:attr"/>
				<xs:attribute name="value" type="config:attr"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="settings">
		<xs:annotation>
			<xs:documentation>
				Settings parent.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="setting" type="setting"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="settings" type="settings">
		<xs:annotation>
			<xs:documentation>
				Settings parent element.
			</xs:documentation>
		</xs:annotation>
		<xs:unique name="settingId">
			<xs:selector xpath="settings/setting"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	
</xs:schema>