core/src/main/resources/META-INF/gov/hhs/onc/dcdt/schema/data/testcases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	elementFormDefault="qualified"
	targetNamespace="http://schema.direct-test.com/dcdt/data/testcases"
	xmlns="http://schema.direct-test.com/dcdt/data/testcases"
	xmlns:config="http://schema.direct-test.com/dcdt/config"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:import namespace="http://schema.direct-test.com/dcdt/config" schemaLocation="http://schema.direct-test.com/dcdt/config"/>
	
	<xs:simpleType name="testcaseResultStatusName">
		<xs:annotation>
			<xs:documentation>
				A testcase result status name.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="^(pass|fail|opt)$"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="testcaseResultStatusNameAttr">
		<xs:annotation>
			<xs:documentation>
				An attribute value containing a testcase result status name or a variable.
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="testcaseResultStatusName config:attr"/>
	</xs:simpleType>
	
	<xs:complexType name="discoveryTestcaseResult">
		<xs:annotation>
			<xs:documentation>
				A Discovery testcase result.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.testcases.discovery.DiscoveryTestcaseResult"/>
				<xs:attribute name="entryProperty" type="config:attr"/>
				<xs:attribute name="statusName" type="testcaseResultStatusNameAttr"/>
				<xs:attribute name="msg" type="config:attr"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="discoveryTestcaseResults">
		<xs:annotation>
			<xs:documentation>
				A list of Discovery testcase results.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="discoveryTestcaseResult" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="discoveryTestcaseComments">
		<xs:annotation>
			<xs:documentation>
				A set of Discovery testcase comments.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.testcases.discovery.DiscoveryTestcaseComments"/>
				<xs:attribute name="shortDescription" type="config:attr"/>
				<xs:attribute name="description" type="config:attr"/>
				<xs:attribute name="additionalInfo" type="config:attr" use="optional"/>
				<xs:attribute name="targetCert" type="config:attr"/>
				<xs:attribute name="backgroundCerts" type="config:attr"/>
				<xs:attribute name="rtm" type="config:attr"/>
				<xs:attribute name="specifications" type="config:attr"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="discoveryTestcase">
		<xs:annotation>
			<xs:documentation>
				A Discovery testcase.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="config:bean">
				<xs:sequence>
					<xs:element name="comments" type="discoveryTestcaseComments" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resultsPass" type="discoveryTestcaseResults" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resultsFail" type="discoveryTestcaseResults" minOccurs="0" maxOccurs="1"/>
					<xs:element name="resultsOptional" type="discoveryTestcaseResults" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="config-class" type="config:beanClassNameAttr" fixed="gov.hhs.onc.dcdt.beans.testcases.discovery.DiscoveryTestcase"/>
				<xs:attribute name="name" type="config:attr"/>
				<xs:attribute name="mailProperty" type="config:attr"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="testcases">
		<xs:annotation>
			<xs:documentation>
				Entries parent.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="discoveryTestcase" type="discoveryTestcase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="testcases" type="testcases">
		<xs:annotation>
			<xs:documentation>
				Testcases parent element.
			</xs:documentation>
		</xs:annotation>
		<xs:unique name="testcaseId">
			<xs:selector xpath="testcases/testcase"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
</xs:schema>